@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import 'base/mixins';

:root {
    --main-color: #00c2f0;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/head';
@import 'blocks/promo';
@import 'blocks/advantages';
@import 'blocks/solutions';