@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&display=swap');

* {
    font-family: 'Merienda', cursive;
    margin: 0;
    padding: 0;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

@import 'blocks/navigation';
@import 'blocks/promo';
@import 'blocks/about';
@import 'blocks/best';
@import 'blocks/footer';
@import 'blocks/header';
@import 'blocks/beans';
@import 'blocks/aboutit';
@import 'blocks/pleasure';