.btn {
    width: 160px;
    height: 45px;
    border: none;
    border-radius: 20px;
    background-color: $main-color;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
}