.footer {
    padding-top: 25px;
    min-height: 201px;
    background-color: #25333c;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-left {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-right {
            display: flex;
        }
    }
    &__logo {
        margin-left: 15px;
        width: 68px;
        height: 71px;
        img {
            width: 100%;
        }
    }
    &__descr {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-self: end;
        margin-right: 25px;
    }
    &__name {
        font-family: Roboto;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: #ffffff;
        margin-left: 45px;
    }
    &__text {
        font-family: Roboto;
        font-size: 14px;
        line-height: 24px;
        font-weight: 300;
        color: #ffffff;
        text-align: end;
    }
    &__phone {
        font-family: Roboto;
        font-size: 19px;
        line-height: 24px;
        font-weight: 700;
        color: #ffffff;
        text-align: end;
    }
    &__btn {
        margin-right: 15px;
    }
    &__divider {
        margin-top: 26px;
        width: 1171px;
        height: 1px;
        opacity: 0.3;
        background: white;
    }

    &__end {
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    &__site {
        margin-left: 15px;
        opacity: 0.6;
        font-family: Roboto;
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        color: #ffffff;
    }
    &__policy {
        margin-right: 200px;
        font-family: Roboto;
        font-size: 13px;
        line-height: 17px;
        font-weight: 300;
        text-decoration: underline;
        color: $main-color;
    }
    &__dev {
        margin-right: 15px;
        display: flex;
        align-items: center;
        &-descr {
            margin-right: 10px;
            opacity: 0.6;
            font-family: Roboto;
            font-size: 13px;
            line-height: 17px;
            font-weight: 300;
            color: #ffffff;
        }
        &-logo {
            width: 30px;
            height: 32px;
            opacity: 0.78;
            img {
                width: 100%;
            }
        }
    }
}