.head {
    min-height: 85px;
    padding: 19px 0 16px 0;
    &__wrapper {
        display: flex;
        justify-content: space-around;
    }
    &__block {
        width: 250px;
        display: flex;

    }
    &__img {
        margin-top: 3px;
        width: 28px;
        height: 21px;
        img {
            width: 100%;
        }
    }
    &__descr {
        margin-left: 10px;
        width: 190px;
    }
    &__subtitle {
        font-size: 14px;
        line-height: 18px;
        font-weight: 700;
        color: #242424;
    }
    &__text {
        font-size: 12px;
        font-weight: 300;
    }
}