.map {
    position: relative;
    height: 500px;
    iframe {
        width: 100%;
        height: 100%;
    }
    &__form {
        position: absolute;
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
        padding: 25px 50px 25px 25px;
        width: 305px;
        height: 160px;
        background-color: #ffffff;
    }
    &__title {
        font-family: Roboto;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: $main-color;
    }
    &__adr {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
    &__tel {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
    &__email {
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;
        color: $main-color;
    }
}