.map {
    height: 500px;
    padding: 170px 360px 170px 850px;
    background: url('../img/map/map_bg.png') center center / cover no-repeat;
    &__form {
        padding: 25px 50px 25px 25px;
        width: 305px;
        height: 160px;
        background-color: #ffffff;
    }
    &__title {
        font-family: Roboto;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: $main-color;
    }
    &__adr {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
    &__tel {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
    &__email {
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;
        color: $main-color;
    }
}