.map {
    position: relative;
    height: 500px;
    background: url('../img/map/map_bg.png') center center / cover no-repeat;
    &__point {
        position: absolute;
        top: 225px;
        left: 720px;
    }
    &__form {
        position: absolute;
        top: 170px;
        left: 820px;
        padding: 25px 50px 25px 25px;
        width: 305px;
        height: 160px;
        background-color: #ffffff;
    }
    &__arrow {
        display: block;
        height: 40px;
        width: 40px;
        background-color: #ffffff;
        transform: rotate(45deg);
        position: absolute;
        top: 230px;
        left: 805px;
    }
    &__title {
        font-family: Roboto;
        font-size: 16px;
        line-height: 20px;
        font-weight: 700;
        color: $main-color;
    }
    &__adr {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
    &__tel {
        font-size: 14px;
        font-weight: 300;
        color: #3a3a3a;
    }
    &__email {
        font-size: 14px;
        font-weight: 300;
        text-decoration: underline;
        color: $main-color;
    }
}