.promo {
    min-height: 700px;
    background: rgb(2,0,36);
    background-image:linear-gradient(45deg, rgba(36,0,16,1) 0%, rgba(121,9,38,0.46122198879551823) 0%, rgba(0,255,220,0.396796218487395) 100%), url('../img/promo/promo_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__menu {
        list-style: none;
        display: flex;
        justify-content: space-between;
        width: 540px;
        &-link {
            font-size: 13px;
            line-height: 26px;
            font-weight: 700;
            text-transform: uppercase;
            color: #ffffff;
            text-decoration: none;
            &:hover {
                color: var(--main-color);
            }
        }
    }
    &__title {
        margin-top: 130px;
        width: 530px;
        font-size: 42px;
        line-height: 48px;
        font-weight: 900;
        color: #ffffff;
    }
    &__subtitle {
        margin-top: 30px;
        width: 430px;
        font-size: 24px;
        line-height: 30px;
        font-weight: 300;
        color: #ffffff;
        span {
            font-weight: 400;
        }
    }
    &__btn {
        margin-top: 40px;
        width: 241px;
        height: 60px;
        background-color: var(--main-color);
        border: none;
        font-size: 16px;
        line-height: 30px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        border-radius: 5px;
        &:hover {
            box-shadow: 3px 3px 20px var(--main-color);
            border: none;
        }
    }
    &__wrapper2 {
        display: flex;
        justify-content: space-between;
    }
    &__img {
        margin-top: 50px;
    }
}