.questions {
    padding-top: 60px;
    min-height: 438px;
    background-image:linear-gradient(to top, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('../img/questions/questions_bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    
    &__name {
        padding: 20px 340px 0 340px;
        width: 896px;
        height: 68px;
        background-color: #25333c;
        font-family: Roboto;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        line-height: 19px;
        span {
            font-family: Roboto;
            font-size: 14px;
            font-weight: 400;
            text-transform: uppercase;
            color: #ffffff;
        }
    }
    &__form {
        width: 896px;
        height: 297px;
        background-color: #ffffff;
        margin: 0 auto;
        opacity: 0.9;
    }
    &__input {
        padding: 20px 40px 20px 40px;
        display: grid;
        grid-template-columns: repeat(3, 270px);
        grid-template-rows: 47px 73px 45px;
        column-gap: 3px;
        row-gap: 7px;
        input {
            padding-left: 29px;
            height: 45px;
            border-radius: 20px;
            background-color: #ffffff;
            border: 1px solid rgba(0,0,0,0.2);
            outline: none;
        }
        textarea {
            grid-column: 1 / 4;
            resize: none;
            padding-left: 26px;
            padding-top: 10px;
            width: 815px;
            height: 73px;
            border-radius: 20px;
            outline: none;
            background-color: #ffffff;
            border: 1px solid rgba(0,0,0,0.2);
        }
    }
    &__btn {
        grid-column: 2 / 3;
        margin: 17px auto 0 auto;
        width: 180px;
    }
}
   