@media (max-width:768px) {
    .review {
        &__inner {
            width: 500px;
        }
        &__descr {
            font-size: 12px;
        }
    }
}

@media (max-width: 576px) {
    .review {
        &__inner {
            width: 300px;
        }
        &__descr {
            font-size: 12px;
        }
    }
}